:root {
  --primary: #7D387D;
  --secondary: #C45BAA;
  --tertiary: #629460;
  --black: #343633;
  --white: #F9EBE0;
  --titles: "Impact", sans-serif;
}

html {
  background-color: var(--white);
  color: var(--black);
  font-size: 1.5vw;
  line-height: 1.4;
  font-family: "Optima",sans-serif;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid var(--white);
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid var(--white);
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

hr {
  display: block;
  border-style: solid;
  border-width: 0.05vw;
  border-color: var(--black);
  background-color: var(--black);
  width: 80%;
  margin: auto;
}

.small-hr {
  border: none;
  border-top: 0.05vw dashed var(--tertiary);
  background-color: var(--white);
  width: 5%;
}

.navbar {
  background-color: var(--tertiary);
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5vw solid var(--tertiary);
  border-radius: 0.5vw;
}

.nav-link {
  border: none;
  cursor: pointer;
}

.nav-item #navbutton-home {
  background-color: var(--primary);
  border: 0.25vw solid var(--primary);
  border-radius: 0.5vw;
  font-size: 3vw;
  text-decoration: none;
  color: var(--secondary);
  font-family: var(--titles);
  font-variant: small-caps;
}

.nav-item #navbutton-home:hover {
  background-color: var(--secondary);
  border: 0.25vw solid var(--secondary);
  color: var(--primary);
}

.nav-item {
  padding: 0.5vw;
}

.nav-item a {
  background-color: var(--secondary);
  border: 0.25vw solid var(--secondary);
  border-radius: 0.5vw;
  font-size: 2vw;
  text-decoration: none;
  color: var(--primary);
  font-family: var(--titles);
  font-variant: small-caps;
}

.nav-item a:hover {
  background-color: var(--primary);
  border: 0.25vw solid var(--primary);
  color: var(--secondary);
}

.page-title {
  font-family: var(--titles);
  text-align: center;
  font-size: 3vw;
}

#page-content{
  display: flex;
  flex-direction: row;
}

.side-navbar.left {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  color: var(--white);
}

.side-navbar.left a {
  color: var(--black);
  text-decoration: none;
  background-color: var(--secondary);
  padding: 0.125vw;
  margin-top: 0.25vw;
  border-radius: 0.5vw;
}

.side-navbar.left a:hover {
  background-color: var(--white);
}

.topic {
  margin-bottom: -0.25vw;
  text-decoration: underline;
  font-family: var(--titles);
  font-size: 1.25vw;
}

.content-title {
  font-family: var(--titles);
  text-align: left;
  font-size: 2vw;
  color: var(--primary);
  padding-left: 1vw;
  text-decoration: underline;
  margin-bottom: 0vw;
}

.content-container.middle {
  flex-grow: 4;
}

.quicklinks-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5vw;
  justify-content: space-around;
  padding-left: 1vw;
}

.quickLink {
  color: var(--primary);
  background-color: var(--tertiary);
  margin: 0.5vw;
  padding: 0.25vw;
  text-decoration: none;
  border-radius: 0.5vw;
  font-weight: bold;
  border: 0.1vw solid var(--tertiary);
}

.quickLink:hover {
  background-color: var(--white);
}
