/* Import Fonts
 - Roboto
 - Oswald
 - Montserrat
 - Exo
 - Titillium Web
 - IBM Plex Mono */
@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,100..900;1,100..900&family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

:root {
  --primary: #990000;
  --primarylight: #b40000;
  --secondary: #3e0000;
  --tertiary: #ea1500;
  --black: #1a1a1a;
  --white: #e5e5e5;
  --lightgray: #b2b2b2;
  --mediumgray: #808080;
  --darkgray: #4d4d4d;
  --titles: "Exo", sans-serif;
  --headings: "Titillium Web", sans-serif;
  --body-font: "Roboto", sans-serif;
}

html {
  background-color: var(--white);
  color: var(--black);
  font-size: 1.5vw;
  line-height: 1.4;
  font-family: var(--body-font);
}

hr {
  display: block;
  border-style: solid;
  border-width: 0.05vw;
  border-color: var(--black);
  background-color: var(--black);
  width: 90%;
  margin: auto;
}

h1 {
  font-family: var(--titles);
}

a {
  color: var(--tertiary);
  font-weight: bold;
}

.small-hr {
  border: none;
  border-top: 0.05vw dashed var(--tertiary);
  background-color: var(--white);
  width: 5%;
}

.navbar {
  background-color: var(--lightgray);
  color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: center;
  border: 0.5vw solid var(--lightgray);
  border-radius: 0.5vw;
}

.nav-link {
  border: none;
  cursor: pointer;
}

.include-icon.general-chemistry::before {
  content: "";
  display: inline-block;
  width: 3vw;
  height: 3vw;
  background-image: url("/chemistry-resources/docs/css/icons/Icon_Atom_MediumGrey.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 0.15vw;
  vertical-align: middle;
}

.nav-link.include-icon {
  display: flex;
  align-items: center;
}

.nav-link.include-icon::before {
  height: 2vw;
  margin-right: -0.5vw;
  margin-left: 0.25vw;
  padding: 0;
}

.nav-item #navbutton-home {
  background-color: var(--primary);
  border: 0.25vw solid var(--primary);
  border-radius: 0.5vw;
  font-size: 3vw;
  text-decoration: none;
  color: var(--white);
  font-family: var(--titles);
}

.nav-item #navbutton-home:hover {
  background-color: var(--primarylight);
  border: 0.25vw solid var(--primarylight);
  color: var(--white);
}

.nav-item {
  padding: 0.5vw;
}

.nav-link {
  background-color: var(--primary);
  border: 0.25vw solid var(--primary);
  border-radius: 0.5vw;
  font-size: 2vw;
  text-decoration: none;
  color: var(--white);
  font-family: var(--titles);
}

.nav-item a:hover {
  background-color: var(--primarylight);
  border: 0.25vw solid var(--primarylight);
  color: var(--white);
}

.page-title {
  font-family: var(--titles);
  font-size: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1.page-title.include-icon::before {
  width: 3vw;
  height: 3vw;
  margin-right: 0.5vw;
}

.page-content{
  display: flex;
  flex-direction: row;
}

.side-navbar.left {
  display: flex;
  flex-direction: column;
  background-color: var(--primary);
  padding: 0.5vw 1vw;
  border-radius: 0.5vw;
  color: var(--white);
}

.side-navbar.left a {
  color: var(--white);
  text-decoration: none;
  background-color: var(--secondary);
  padding: 0.125vw;
  margin-top: 0.25vw;
  border-radius: 0.5vw;
}

.side-navbar.left a:hover {
  background-color: var(--primarylight);
}

.topic {
  margin-bottom: -0.25vw;
  text-decoration: underline;
  font-family: var(--titles);
  font-size: 2vw;
  font-weight: bold;
}

.content-title {
  font-family: var(--titles);
  text-align: left;
  font-size: 2.5vw;
  color: var(--primary);
  padding-left: 8vw;
  margin-bottom: 0vw;
  font-weight: bold;
}

.content-container.middle {
  flex-grow: 4;
}

.quicklinks-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 0.5vw;
  justify-content: space-around;
  padding-left: 1vw;
}

.quickLink {
  color: var(--secondary);
  background-color: var(--tertiary);
  margin: 0.5vw;
  padding: 0.25vw;
  text-decoration: none;
  border-radius: 0.5vw;
  font-weight: bold;
  border: 0.1vw solid var(--tertiary);
  margin-left: 4vw;
}

.quickLink:hover {
  background-color: var(--white);
}

.equation-card {
  display: flex;
  flex-direction: column;
  align-items: center; /* centering equation and notes */
  text-align: center;
  font-size: 1.2vw;
  margin: 1.5vw auto;
  max-width: 40vw;
  border: 0.2vw solid var(--primary);
  border-radius: 1vw;
  background: var(--white);
}

.equation-card p {
  margin-top: 1vw;
  font-size: 1vw;
  color: var(--mediumgray);
  white-space: nowrap; /* prevents text wrap*/
  overflow: hidden; /* hides overflow text */
  text-overflow: ellipsis;
  max-width: 90%;
}

.equation-card mjx-container {
  display: block;
}

h3 {
  margin-left: 4vw;
}

.laundry-list p {
  margin-left: 2vw;
}

.index-content p {
  margin-left: 2vw;
}

#index-page-content {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 0.5vw
}

.list {
  border: 1px solid var(--lightgray);
  padding: 0.5vw;
}

.alert {
  background-color: var(--primarylight);
  border-radius: 0.5vw;
}

.alert p {
  text-align: center;
  font-size: 1vw;
  font-style: italic;
  font-family: var(--headings);
  padding-top: -1vw;
  padding-bottom: -1vw;
  margin: 0vw;
}

.construction-warning {
  text-align: center;
  font-family: var(--titles);
  font-size: 1.5vw;
  font-weight: bold;
  font-style: none;
  text-decoration: underline;
  color: var(--white);
  margin: 0vw;
}